html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

body {
  font-family: sans-serif;
  background:
    radial-gradient(
      71.12% 70.06% at 50% 100%,
      #f0e3ff 0%,
      rgba(240, 227, 255, 0) 100%
    ),
    radial-gradient(
      77.57% 97.09% at 50% 100%,
      rgba(123, 239, 255, 0.4) 0%,
      rgba(123, 239, 255, 0) 100%
    ),
    #fff;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-view {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 2rem;
  align-items: center;
}

.color-inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-right: 2rem;
}

.color-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-right: 2rem;
  align-items: center;
}

hr {
  margin: 2rem 0;
  border: 1px solid #eee;
  width: 100%;
}
